* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: aquamarine;
}

.flex-div {
  display: flex;
  align-items: center;
}
.header {
  position: sticky;
  justify-content: space-between;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.header .logo {
  margin-left: 15px;
}
.header .title {
  font-size: 32px;
  margin: 10px 10px;
  color: blue;
}
.header .sign-in {
  margin-right: 15px;
}

/* Grids  */

.container {
  justify-content: space-evenly;
  font-size: 24px;
  margin-top: 5vh;
}

.turn {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
}

.turnOrder {
  margin-bottom: 15px;
  margin-top: 15px;
}
.winner {
  font-weight: 600;
  font-size: 40px;
  animation: win 3s ease-in-out 0s 9 forwards;
}
@keyframes win {
  0% {
    background-color: blue;
  }
  50% {
    background-color: purple;
  }
  100% {
    background-color: blue;
  }
}
.arrow {
  border: solid 2px darkblue;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 40px;
  width: 100px;
  text-align: center;
}

.arrow:hover {
  cursor: crosshair;
}
.animate-arrow {
  animation: blink 1s ease-in-out 0s infinite forwards;
}

@keyframes blink {
  0% {
    background-color: aquamarine;
  }
  50% {
    background-color: greenyellow;
  }
  100% {
    background-color: aquamarine;
  }
}

.status {
  display: none;
}

.start {
  justify-self: flex-end;
  border: 1px solid green;
  background: limegreen;
  padding: 10px;
  border-radius: 15px;
  margin-top: 20px;
  transition: 0.5s all ease-in-out;
}

.start:hover {
  cursor: pointer;
  transform: scale(1.2);
  background-color: rgb(14, 155, 14);
}

.show {
  display: block;
  animation: show 2s ease 0s forwards;
}

@keyframes show {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.opponent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameBoard {
  margin-top: 20px;
  display: grid;
  column-gap: 0px;
  row-gap: 0px;
}

.tile {
  width: 30px;
  height: 30px;
  border: solid 1px black;
  text-align: center;
}

.tile:hover {
  cursor: pointer;
  background-color: cadetblue;
}

.ship {
  background-color: gray;
  border: solid 1px lightgrey;
}

.hit {
  background-color: maroon;
  color: grey;
}

.miss {
  background-color: rgb(10, 90, 125);
  color: grey;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .arrow {
    display: none;
  }
  .turn {
    color: blue;
    align-self: center;
  }
  .opponent {
    margin-bottom: 20px;
  }
  .start {
    margin-top: 5px;
  }
}
