* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: aquamarine;
}

.flex-div {
  display: flex;
  align-items: center;
}
.header {
  position: sticky;
  justify-content: space-between;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.header .logo {
  margin-left: 15px;
}
.header .title {
  font-size: 32px;
  margin: 10px 10px;
  color: blue;
}
.header .sign-in {
  margin-right: 15px;
}

/* Grids  */

.container {
  justify-content: space-evenly;
  font-size: 24px;
  margin-top: 5vh;
}

.turn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.opponent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameBoard {
  margin-top: 20px;
  display: grid;
  column-gap: 0px;
  row-gap: 0px;
}

.tile {
  width: 30px;
  height: 30px;
  border: solid 1px black;
}

.tile:hover {
  cursor: pointer;
  background-color: cadetblue;
}

.ship {
  background-color: gray;
}
